@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&display=swap');
.full-preview{
  background-color: rgb(26, 33, 56);
  transform: rotate(0deg) 
  /* border-radius: 0 50% 50% 0; */
  
}

.headerNav{
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container h4,i{
  color: white;
}
.logo-container,.navLinks{
  display: flex;
}

.navLinks{
  justify-content: space-around;
  list-style: none;
  text-decoration: none;;
}

/* a:link{
  color: white;
}

a:hover{
  color: white !important;
  text-decoration: none !important;
} */


.navLink{
  color: white;
  font-size: 18px;
  text-decoration: none !important;
}

.navLinksp{
  color: #00ab55;
  font-size: 18px;
  text-decoration: none !important;
}

.navLink:hover {
  border-bottom: 4px solid #00ab55;
  transition: all 0.2s ease-out;
  color: white;
  text-decoration: none;
}

.navLinksp:hover{
  color: white;
  font-size: 18px;
  text-decoration: none !important;
  border-bottom: 4px solid #00ab55;
}

.fa-shopping-cart{
  margin-top: -10px;
}

.logo{
  font-weight: 400;
  margin-left: 5px;
}

.logo-container{
  color: black;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex: 1;
}
 
.navItem{
  flex:2;
}

.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
}

.introduction{
  flex: 1;
  animation: drop 1.5s ease;
}

.intro-text h1{
  font-family: 'Dancing Script', cursive;
  font-family: 'Indie Flower', cursive; 
  font-size: 3.75rem;
  font-weight: 900;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}

.text1{
  font-size: 100px !important;
  font-weight: 900;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00ab55 !important;
}

.text2{
  margin-left: 100px;
  font-size: 100px !important;
  font-weight: 900;
  font-family: 'Dancing Script', cursive;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #00ab55 !important;
}

.text3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.25rem;
  /* width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: textStyle 6s steps(3) infinite alternate;
  border-right: 3px solid #00ab55;
  color: white */
}

/* .search-style{
  margin-left: 120px;
  width: 100%;
}

.form-style{
  width: 485px;
  height: 38px !important;
  background: seagreen;
} */

.box{
  /* position: absolute; */
  margin-left: 200px ;
  width: 500px;
}

.box input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="search"]{

  background: #fff;
  color: black;
  width: 340px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 25px 25px 25px;

}

.btn-style{
  margin-left: 10px;
  height: 40px !important;
  border-radius: 25px 25px 25px 25px !important;
}

.intro-text p{
  margin-top: 5px;
  font-size: 22px;
  color:tomato
}

.cta{
  padding: 50px 0px 0px 0px;
  margin-left: 200px;
}

.cta-submit{
  border: 1px solid #00ab55;
  margin-left: 10px;
  border-radius: 25px 25px 25px 25px;
  background: #00ab55;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cta-submitMore{
  margin-left: 20px;
  border: 1px solid #00ab55;
  border-radius: 25px 25px 25px 25px;
  background: #00ab55;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.cover{
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img{
  height: 100%;
  width: 100%;
  background-size: cover;
  margin-left: 200px;
  animation: dropimg 1.5s ease;
  animation: blob 5s linear infinite;
}

.back-img{
  position: absolute;
  height: 100%;
  width: 85%;
  object-fit: cover;
  content: " ";
  top: 0px;
  right: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@keyframes drop{
  0%{
    opacity: 0;
    transform: translateX(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes dropimg{
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateX(-0px);
  }
}

@keyframes blob{
  0%,100%{
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
  } 
  25%{
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
  }
  50%{
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75%{
    border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
  }
}

/* @keyframes textStyle{
  0%{
    width: 0ch;
  }
  50%{
    width: 3ch;
  }
} */

.sign-btn{
  background-color: #00ab55;
  border: none;
  border-radius: 10px;

}


@media screen and (max-width: 960px){

  .presentation{
      flex-direction: column;
  }
  .introduction{
      margin-top: 5vh;
      text-align: center;
  }
  .intro-text h1{
      font-size: 30px;
  }
  .intro-text p{
    font-size: 18px;
  }
  .cta{
     padding: 10px 0px 0px 0px;
  }
  .cover img{
    height: 50%;
  }
  .back-img{
    height: 100%;
    width: 100%;
  }
  .cta-submit{
    width: 75px;
    height: 25px;
    font-size: 10px;
  }

}


@media screen and (max-width: 640px){
  .presentation{
    width: 100%;
  }
  
}


@media screen and (max-width: 504px){
  .back-img{
    display: none;
  }
  .presentation{
    width: 504px;
  }
}