/* .row{
    display: flex;
    flex-direction: column;
} */
.singleProduct{
    margin-top: 80px;
}
.singleProduct .col-6 img{
    padding: 0;
}
.singleProduct .col-6{
    padding: 20px;
}

.singleProduct h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.singleProduct select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.singleProduct input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus{
    outline: none;
}

.singleProduct .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-image-row{
    display: flex;
    justify-content: space-between;
}

.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
    border: 1px solid gray;
}